<p id="notice"><%= notice %></p>

<h1>Listing Cabbages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabbages.each do |cabbage| %>
      <tr>
        <td><%= cabbage.name %></td>
        <td><%= cabbage.content %></td>
        <td><%= link_to 'Show', cabbage %></td>
        <td><%= link_to 'Edit', edit_cabbage_path(cabbage) %></td>
        <td><%= link_to 'Destroy', cabbage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cabbage', new_cabbage_path %>
