<p id="notice"><%= notice %></p>

<header>
  <h1 class='site-title'>Список игр</h1>

  <div class="pull-right">
    <%= link_to new_cabbage_path, class: 'add-game-link' do %>
      <div class="glyphicon glyphicon-plus-sign"></div>
      <span>Добавить игру</span>
    <% end %>
  </div>
</header>
<div class="clearfix"></div>

<div class='row'>
  <% @cabbages.each do |cabbage| %>
    <div class='col-sm-6'>
      <div class="panel panel-default panel-sm">
        <div class="panel-heading">
          <h4><%=  link_to cabbage.name, cabbage %></h4>
        </div>
        <div class="panel-body">
          <%=  cabbage.content %>
          <p>
            <%= link_to '', edit_cabbage_path(cabbage), class: 'glyphicon glyphicon-edit' %>
            <%= link_to '', cabbage,  class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: 'Вы уверены?' } %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

